<div class="wrap">
  <div class="container">
    <header>
      <div fxFlex="100%" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
        <img src="assets/images/live4/logo.png" alt="" width="100px">
        <div>
          <a>How it works</a>
          <a>Pricing</a>
          <a>Affiliates</a>
          <a>Company</a>
        </div>
        <div>
          <a>Sign In</a>
          <button>Request Demo</button>
        </div>
      </div>
    </header>
  </div>
</div>y
