<!-- admin.component.html -->
<div class="dashboard-container">
  <!-- En-tête -->
  <header class="header">
    <div class="header-left">
      <h1>Administrateur</h1>
      <div class="welcome">Bienvenue, Admin</div>
    </div>
    <button mat-raised-button color="primary" (click)="logout()">Déconnexion</button>
  </header>

  <div class="content">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Contenu principal dynamique -->
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<div class="recent-activities">
  <h3>Recent Activities</h3>
  <ul>
    <li *ngFor="let activity of recentActivities" class="activity-item">
      <i class="fa-solid fa-circle-dot"></i> {{ activity.action }} - {{ activity.time }}
    </li>
  </ul>
</div>
